<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/charity.css">
    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
  </head>
  <body>
    <template id="card">
      <div class="card" id="charityCard">
        <div id="charityName" class="card-name">
          card name
        </div>
        <div id="charityDesc" class="card-desc">
          decription
        </div>
      </div>
    </template>
    <div id="body charity">
      <nav class="nav">
        <a href="./pledge.html" class="nav-item" active-color="orange">Pledge</a>
        <a href="./charity.html" class="nav-item is-active" active-color="blue">Charities</a>
        <a href="./donate.html" class="nav-item" active-color="red">Donate</a>
        <a href="./profile.html" class="nav-item" active-color="green">Profile</a>
        <span class="nav-indicator"></span>
      </nav>
      <h1> CHARITIES </h1>
      <div id="charities" class="scrollmenu">

      </div>
    </div>
    <script src="../scripts/navbar.js"></script>
    <script src="../scripts/charities.js"></script>
  </body>
</html>
