<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/button.css">
    <link rel="stylesheet" type="text/css" href="../styles/pledge.css">
  </head>
  <body>
    <div id="body pledge">
      <nav class="nav">
        <a href="./pledge.html" class="nav-item is-active" active-color="orange">Pledge</a>
        <a href="./charity.html" class="nav-item" active-color="blue">Charities</a>
        <a href="./donate.html" class="nav-item" active-color="red">Donate</a>
        <a href="./profile.html" class="nav-item" active-color="green">Profile</a>
        <span class="nav-indicator"></span>
      </nav>
      <h1> PLEDGE </h1>
      <div class="">
        Price of Purchase: <span id="purchase">None</span>
      </div>
      <div id="pledgeInformation"></div>
      
      <div class="pledgeContainer">
        <input type="number" min=0.0 step=0.1 id="pledgeAmount"/>
        <a href="#" class="myButton" id="addToFundsButton">Pledge!</a>
      </>
      <div class="barContainer">
        <div id="myProgress" class="myProgress">
          <div id="myBar" class="myBar"></div>
        </div>
        <div id='balance-wrapper'>
          Progress: 
          <span id='balance'></span>
        </div>
      </div>
    </div>
    <script src="../scripts/pledge.js"></script>
    <script src="../scripts/balance.js"></script>
    <script src="../scripts/navbar.js"></script>
  </body>
</html>
