.card {
  flex: 0 0 auto;
  max-width: 15em;
  border: 4px solid lightgray;
  border-radius: 1em;
  margin: 0.1em;
  max-height: 13em;
  overflow-y: auto;
  margin-right: 2.0em;
}

.card:hover {
  background-color: lightgray;
  cursor: pointer;
}

.card-name {
  font-weight: bold;
  padding: 2px;
}

.card-desc {
  font-weight: lighter;
  padding: 5px;
}

.scrollmenu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
