
.myProgress {
  width: 100%;
  background-color: lightgray;
}

.myBar {
  width: 10%;
  height: 5px;
  background-color: lightskyblue;
}

.barContainer {
  margin-top: 5em;;
}

.pledgeContainer {
  padding: 1em;
}